@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

.border-gradient {
   background-image: linear-gradient(white,white),
    linear-gradient(to top, #0037ff, #00f7ff);
   background-origin: border-box;
   background-clip: content-box,border-box;  
}

.header{
    background: linear-gradient(90deg, #0037ff, #00f7ff);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}